global:
  destination:
    # (optional) If not specified then "https://kubernetes.default.svc" is used
    server: https://kubernetes.default.svc

    # (optional) If not specified then "default" is used
    project: default

  source:
    # Git URL where are the applications located
    repoURL: https://github.com/ruzickap/argocd-apps

    # (optional) If not specified then "HEAD" is used
    targetRevision: HEAD

applications:
  # Application name
  tekton:
    # (optional) If not specified then "name" is used
    namespace: tekton-pipelines

    # (optional) If not specified then "name" is used
    path: tekton

    # (optional) If not specified then "global" project is used
    project: default

    # (optional) If not specified then "global" repoURL is used
    repoURL: https://github.com/ruzickap/argocd-apps

    # (optional) If not specified then "global" server is used
    server: https://kubernetes.default.svc

    # (optional) If not specified then "global" targetRevision is used
    targetRevision: HEAD

    # Helm configuration
    application_source_specific_configs:
      helm:
        values: |
          tekton_host: tekton-dashboard.myexample.dev
          ingressCertificate: my-ingress-certificate
          prowjob_namespace: prowjob

  prow:
    application_source_specific_configs:
      helm:
        values: |
          prow_namespace: prow
          prowjob_namespace: prowjob
          prow_hmac_token: my_super_secret_prow_hmac_token
          prow_oauth_token: my_super_secret_prow_oauth_token
          prow_host: tekton-dashboard.myexample.dev
          ingressCertificate: my-ingress-certificate
          acr_login_server: my_container_registry
          acr_admin_username: username
          acr_admin_password: password
          # prow_plugins:
          #   plugins:
          #     my-user1/my-git-repo1:
          #       - size
          #       - trigger
          # prow_config:
          #   prow_config:
          #     prowjob_namespace: prowjob
          #     pod_namespace: prow
          #     periodics:
          #       - interval: 10m
          #         agent: kubernetes
          #         name: echo-test
          #         spec:
          #           containers:
          #             - image: alpine
          #               command: ["/bin/date"]
